<a href="https://colab.research.google.com/github/FranciniSantana/Data-Analysis-With-Python-FreeCodeCamp/blob/main/2_Pandas__Data_Analysis_With_Python_freeCodeCamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# ✅ Pandas Series

In [2]:
# in milions
g7_pop = pd.Series([35.467,63.951,80.940,60.665,127.061,64.511,318.523]) #função que cria uma série a partir de uma [lista]

In [3]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [4]:
g7_pop.name = 'G7 Popuation in Milion' #Atribuo um nome a tabela 
#Esse método faz parte do Python puro ou do Pandas? uma vez que não uso o pd p/ chamar a função.

In [5]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Popuation in Milion, dtype: float64

In [6]:
g7_pop.dtype #verificar o tipo de dado dessa série usando o método numpy dtype

dtype('float64')

In [7]:
type(g7_pop) # verificar o tipo de dados dessa série usando o python puro. Funciona? Identificou no caso o tipo de /objeto

pandas.core.series.Series

In [8]:
g7_pop[3] #acessar elementos em uma série com indíce igual uma lista

60.665

In [9]:
# para atribuir um índice a série usamos o método index
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdon,',
    'United States'
]

In [10]:
g7_pop

Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdon,     64.511
United States      318.523
Name: G7 Popuation in Milion, dtype: float64

Podemos criar uma série a partir de um dicionário, onde já atribuímos uma chave ao valor.

In [11]:
g7Pop_dic = pd.Series({
   'Canada':35.467, 
    'France':63.951,
    'Germany':80.940,
    'Italy':60.665,
    'Japan':127.061,
    'United Kingdon':64.511,
    'United States':318.523, 
}
    
)

#diferente de criar uma série por uma lista sem o index nomeado como lá em cima, aqui usamos o {dicionário}

In [12]:
g7Pop_dic[3:4] # acesso o nome da chave e o valor atribuído a ela através do index

Italy    60.665
dtype: float64

In [13]:
g7Pop_dic[4] # acesso apenas o valor atribuído aquela posição do índice

127.061

#✅Indexing
Index funciona de forma similar com listas e dicionários, podemos usar o rótulo do índice criado para  procurar os elementos

In [14]:

print(g7_pop[['Canada','France']]) # É mais fácil saber o que procurar como um nome, do que saber um número
print(g7_pop[[0,1]])
print(g7_pop.iloc[[0,1]]) #método iloc qual a diferença de acessar o indice pela posição com método iloc? Será mais rápido e eficiente?

Canada    35.467
France    63.951
Name: G7 Popuation in Milion, dtype: float64
Canada    35.467
France    63.951
Name: G7 Popuation in Milion, dtype: float64
Canada    35.467
France    63.951
Name: G7 Popuation in Milion, dtype: float64

In [15]:
paises = ['Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdon,',
    'United States']

In [16]:
 g7_pop['Canada':'United States'] #em pandas o limitador é o próprio número limitador.

Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdon,     64.511
United States      318.523
Name: G7 Popuation in Milion, dtype: float64

In [17]:
paises[:6] # em Python puro o limitador é uma posição anterior.

['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdon,']

In [18]:
g7_pop[:6] #em pandas o limitador é o próprio número limitador.

Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdon,     64.511
Name: G7 Popuation in Milion, dtype: float64

#✅ Condtional selection (boolean arrays)
A mesma técnica de boolean array aplicado no numpy podemos usar em pandas

In [19]:
g7_pop > 70.000

Canada             False
France             False
Germany             True
Italy              False
Japan               True
United Kingdon,    False
United States       True
Name: G7 Popuation in Milion, dtype: bool

In [20]:
g7_pop[g7_pop > 70.000] # me retorne g7_pop sendo a condição entre []

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Popuation in Milion, dtype: float64

In [21]:
g7_pop.mean() # qual a  média da população do G7?

107.30257142857144

In [22]:
g7_pop[g7_pop > g7_pop.mean()] #Existe algum país que tem o número maior que a média?
# Série de países > Valor total da média da série os países

Japan            127.061
United States    318.523
Name: G7 Popuation in Milion, dtype: float64

In [23]:
g7_pop[(g7_pop > 80) | (g7_pop < 40)] # nesse caso o uso do parênteses é para forçar que uma expressão seja avaliada em uma determinada ordem desejada.

Canada            35.467
Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Popuation in Milion, dtype: float64

# ✅ Pandas DataFrames

In [24]:
#import numpy as np
import pandas as pd

In [25]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [26]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [27]:
df.index = [ #atribuindo uma label para o index
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [28]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

### Entendendo os dados a partir de métodos e funções.

In [29]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [30]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [32]:
df.size

35

In [33]:
df.shape

(7, 5)

In [34]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [35]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [36]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

### Indexing, Selection and Slicing

Colunas podem ser selecionadas com um index.

In [37]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [38]:
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [39]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [40]:
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [41]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [42]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [43]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [44]:
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [45]:
df.loc['France': 'Italy']

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [46]:
df.loc['France': 'Italy', 'Population']

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [47]:
df.loc['France': 'Italy', ['Population', 'GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

In [48]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [49]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [50]:
df.iloc[[0, 1, -1]]

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9984670  0.913   America
France             63.951   2833687        640679  0.888    Europe
United States     318.523  17348075       9525067  0.915   America

In [51]:
df.iloc[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [52]:
df.iloc[1:3, 3]

France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [53]:
df.iloc[1:3, 1:3]

             GDP  Surface Area
France   2833687        640679
Germany  3874437        357114

# ✅ Conditional Selection and Modifying DataFrames

In [54]:
df['Population'] > 70 # Testa os valores da coluna e retorna V ou F. É como se fosse um filtro WHERE

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [55]:
df.loc[df['Population'] > 70] #Dentro do teste realizado acima, eu peço para selecionar a partir daquela coluna apenas os valores [SELECT * WHERE População > 70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [56]:
df.loc[df['Population'] > 70, 'Population']

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [57]:
df.loc[df['Population'] > 70, ['Population','GDP']] # usando o parametro COLUMNS para trazer os dados de colunas específicas

               Population       GDP
Germany            80.940   3874437
Japan             127.061   4602367
United States     318.523  17348075

# ✅ Dropping Stuff
Em vez de selecionar , oculto/deleto a série.

In [58]:
df.drop('Canada') # o drop padrão deleta a linha com base no index.

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [59]:
df.drop(columns='Population') #pesquisando os parametros vi que dessa forma conseguimos excluir com base no nome da coluna

                     GDP  Surface Area    HDI Continent
Canada           1785387       9984670  0.913   America
France           2833687        640679  0.888    Europe
Germany          3874437        357114  0.916    Europe
Italy            2167744        301336  0.873    Europe
Japan            4602367        377930  0.891      Asia
United Kingdom   2950039        242495  0.907    Europe
United States   17348075       9525067  0.915   America

# ✅ Operations

In [60]:
# SELECT GDP, HDI from DF  
df[['GDP','HDI']]

                     GDP    HDI
Canada           1785387  0.913
France           2833687  0.888
Germany          3874437  0.916
Italy            2167744  0.873
Japan            4602367  0.891
United Kingdom   2950039  0.907
United States   17348075  0.915

In [61]:
df[['Population','GDP']] / 100

                Population        GDP
Canada             0.35467   17853.87
France             0.63951   28336.87
Germany            0.80940   38744.37
Italy              0.60665   21677.44
Japan              1.27061   46023.67
United Kingdom     0.64511   29500.39
United States      3.18523  173480.75

In [62]:
df2 = df

In [63]:
share = pd.Series(df2['Population'] / 100,
                  name='SharePopulation'
                  )
df2['share'] = share
df2

                Population       GDP  Surface Area    HDI Continent    share
Canada              35.467   1785387       9984670  0.913   America  0.35467
France              63.951   2833687        640679  0.888    Europe  0.63951
Germany             80.940   3874437        357114  0.916    Europe  0.80940
Italy               60.665   2167744        301336  0.873    Europe  0.60665
Japan              127.061   4602367        377930  0.891      Asia  1.27061
United Kingdom      64.511   2950039        242495  0.907    Europe  0.64511
United States      318.523  17348075       9525067  0.915   America  3.18523

Operações com séries funciona a nível de coluna

In [64]:
crisis = pd.Series([-1_000_000,-0.3], index= ['GDP','HDI']) # usa-se (função) [lista]

In [65]:
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [66]:
df[['GDP','HDI']] + crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United States   16348075.0  0.615

# ✅ Adding a new Column

In [67]:
#criando a lista de valores que serão usados 2) atribuindo ao indice 3)dando o nome da coluna | Criando uma série
langs = pd.Series(['French','Italian','Germany'],
                  index=['France','Italy','German'],
                  name = 'language'
                  
                  )

In [68]:
langs

France     French
Italy     Italian
German    Germany
Name: language, dtype: object

In [69]:
df['language'] = langs # SELECT language e atribua os valores de langs nela E INCLUA na tabela DF

In [70]:
df

,Population,GDP,Surface Area,HDI,Continent,share,language
Canada,35.467,1785387,9984670,0.913,America,0.35467,NaN
France,63.951,2833687,640679,0.888,Europe,0.63951,French
Germany,80.940,3874437,357114,0.916,Europe,0.80940,NaN
Italy,60.665,2167744,301336,0.873,Europe,0.60665,Italian
Japan,127.061,4602367,377930,0.891,Asia,1.27061,NaN
United Kingdom,64.511,2950039,242495,0.907,Europe,0.64511,NaN
United States,318.523,17348075,9525067,0.915,America,3.18523,NaN

 ## Replacing Values per column

In [71]:
df['language'] = 'English' # substituir os valores da coluna language por english

In [72]:
df

,Population,GDP,Surface Area,HDI,Continent,share,language
Canada,35.467,1785387,9984670,0.913,America,0.35467,English
France,63.951,2833687,640679,0.888,Europe,0.63951,English
Germany,80.940,3874437,357114,0.916,Europe,0.80940,English
Italy,60.665,2167744,301336,0.873,Europe,0.60665,English
Japan,127.061,4602367,377930,0.891,Asia,1.27061,English
United Kingdom,64.511,2950039,242495,0.907,Europe,0.64511,English
United States,318.523,17348075,9525067,0.915,America,3.18523,English

## Renaming Column

In [73]:
df.rename(
          columns={
          'HDI' : 'Human Development Index',
         'Anual Popcorn Consuption': 'APC',
          },
          index= {
              'United States': 'USA',
              'United Kingdom	':'UK'
        
    
          })

,Population,GDP,Surface Area,Human Development Index,Continent,share,language
Canada,35.467,1785387,9984670,0.913,America,0.35467,English
France,63.951,2833687,640679,0.888,Europe,0.63951,English
Germany,80.940,3874437,357114,0.916,Europe,0.80940,English
Italy,60.665,2167744,301336,0.873,Europe,0.60665,English
Japan,127.061,4602367,377930,0.891,Asia,1.27061,English
United Kingdom,64.511,2950039,242495,0.907,Europe,0.64511,English
USA,318.523,17348075,9525067,0.915,America,3.18523,English

## Creating columns from other columns

In [74]:
df['GDP per Capita'] = df['GDP'] / df['Population'] # SELECT GDP / POPULATION AS 'GDP per Capita' from DF

In [75]:
df

,Population,GDP,Surface Area,HDI,Continent,share,language,GDP per Capita
Canada,35.467,1785387,9984670,0.913,America,0.35467,English,50339.385908
France,63.951,2833687,640679,0.888,Europe,0.63951,English,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,0.80940,English,47868.013343
Italy,60.665,2167744,301336,0.873,Europe,0.60665,English,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,1.27061,English,36221.712406
United Kingdom,64.511,2950039,242495,0.907,Europe,0.64511,English,45729.239975
United States,318.523,17348075,9525067,0.915,America,3.18523,English,54464.120330

# ✅ Statiscal Methods
Métodos de estatística descritiva para DataFrames

In [76]:
df.head(10)

,Population,GDP,Surface Area,HDI,Continent,share,language,GDP per Capita
Canada,35.467,1785387,9984670,0.913,America,0.35467,English,50339.385908
France,63.951,2833687,640679,0.888,Europe,0.63951,English,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,0.80940,English,47868.013343
Italy,60.665,2167744,301336,0.873,Europe,0.60665,English,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,1.27061,English,36221.712406
United Kingdom,64.511,2950039,242495,0.907,Europe,0.64511,English,45729.239975
United States,318.523,17348075,9525067,0.915,America,3.18523,English,54464.120330

In [77]:
df.describe()

,Population,GDP,Surface Area,HDI,share,GDP per Capita
count,7.000000,7.000000e+00,7.000000e+00,7.000000,7.000000,7.000000
mean,107.302571,5.080248e+06,3.061327e+06,0.900429,1.073026,44952.254576
std,97.249970,5.494020e+06,4.576187e+06,0.016592,0.972500,6954.983875
min,35.467000,1.785387e+06,2.424950e+05,0.873000,0.354670,35733.025633
25%,62.308000,2.500716e+06,3.292250e+05,0.889500,0.623080,40265.998421
50%,64.511000,2.950039e+06,3.779300e+05,0.907000,0.645110,45729.239975
75%,104.000500,4.238402e+06,5.082873e+06,0.914000,1.040005,49103.699626
max,318.523000,1.734808e+07,9.984670e+06,0.916000,3.185230,54464.120330

In [78]:
population = df['Population']

In [79]:
population.min(), population.max()

(35.467, 318.523)

In [80]:
population.sum() / len(population)

107.30257142857144

In [81]:
population.mean()

107.30257142857144

In [82]:
population.std()

97.24996987121581

In [83]:
population.median()

64.511

In [84]:
population.describe()

count      7.000000
mean     107.302571
std       97.249970
min       35.467000
25%       62.308000
50%       64.511000
75%      104.000500
max      318.523000
Name: Population, dtype: float64

In [85]:
population.quantile()

64.511

# ✅ Data Cleaning with DataFrame

In [86]:
from numpy.lib.type_check import nan_to_num
# criando um dataFrame básicão só para conseguir aplicar as funções de data cleaning

dfb = {'Coluna A':[1,3,4,np.nan,8],
       'Coluna B':[10,np.nan,15,None,12],
       'Coluna C':[np.nan,np.nan,15,np.nan,12]
       
       }
dfb

{'Coluna A': [1, 3, 4, nan, 8],
 'Coluna B': [10, nan, 15, None, 12],
 'Coluna C': [nan, nan, 15, nan, 12]}

In [87]:
tabela = pd.DataFrame(dfb)

In [88]:
tabela

   Coluna A  Coluna B  Coluna C
0       1.0      10.0       NaN
1       3.0       NaN       NaN
2       4.0      15.0      15.0
3       NaN       NaN       NaN
4       8.0      12.0      12.0

In [89]:
tabela.shape # quantidade de linhas, quantidade de coluna. | https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html

(5, 3)

In [90]:
tabela.info() # esse método conta os valores que NÃO são nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Coluna A  4 non-null      float64
 1   Coluna B  3 non-null      float64
 2   Coluna C  2 non-null      float64
dtypes: float64(3)
memory usage: 248.0 bytes

In [91]:
tabela.isnull() # esse método retorna todos os valores como V ou F

   Coluna A  Coluna B  Coluna C
0     False     False      True
1     False      True      True
2     False     False     False
3      True      True      True
4     False     False     False

In [92]:
tabela.isnull().sum() #esse método soma os valores nulos, execelente para entender se tem algum dado faltando.

Coluna A    1
Coluna B    2
Coluna C    3
dtype: int64

In [93]:
tabela.dropna() # excluo todas as linhas que possuem algum valor nulo. Esse método pode ser perigoso, uma vez que determinadas colunas terão valores nulos e tudo bem.

   Coluna A  Coluna B  Coluna C
2       4.0      15.0      15.0
4       8.0      12.0      12.0

In [94]:
#Fazendo uma pesquisa na documentação entendi que existe alguns parâmetros e para isso não acontecer, posso optar por pedir que excluam apenas as linhas onde todos os valores são NA.
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

tabela.dropna(how='all')

   Coluna A  Coluna B  Coluna C
0       1.0      10.0       NaN
1       3.0       NaN       NaN
2       4.0      15.0      15.0
4       8.0      12.0      12.0

In [95]:
tabela.loc[5] = [np.nan,np.nan,np.nan] # pesquisei no google como adiacionar uma linha ao dataframe existente para poder aplicar o paramtro how
tabela

   Coluna A  Coluna B  Coluna C
0       1.0      10.0       NaN
1       3.0       NaN       NaN
2       4.0      15.0      15.0
3       NaN       NaN       NaN
4       8.0      12.0      12.0
5       NaN       NaN       NaN

In [96]:
#Bora testar?
print(tabela.dropna())
print(tabela.dropna(how='all'))

   Coluna A  Coluna B  Coluna C
2       4.0      15.0      15.0
4       8.0      12.0      12.0
   Coluna A  Coluna B  Coluna C
0       1.0      10.0       NaN
1       3.0       NaN       NaN
2       4.0      15.0      15.0
4       8.0      12.0      12.0

In [97]:
tabela.dropna(axis=1) #usando o parametro axis = 1 conseguimos fazer esse processo para deletar colunas em vez de linhas , nesse caso como todas as colunas possuem valores nulos, não teremos nenhum df, apenas o index.

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

In [98]:
# diante disso resolvi incluir uma nova coluna com valores non null e repetir o processo, bora?

tabela2 = pd.DataFrame({'Coluna A':[1,3,4,np.nan,8],
       'Coluna B':[10,np.nan,15,None,12],
       'Coluna C':[np.nan,np.nan,15,np.nan,12],
       'Coluna D':[22,178,15,99,12]
       
       })
tabela2

#obs: Esse eu tinha feito antes de pesquisar no google um jeito mais fácil de add uma linha ao DF.

   Coluna A  Coluna B  Coluna C  Coluna D
0       1.0      10.0       NaN        22
1       3.0       NaN       NaN       178
2       4.0      15.0      15.0        15
3       NaN       NaN       NaN        99
4       8.0      12.0      12.0        12

In [99]:
tabela2.dropna(axis=1)

   Coluna D
0        22
1       178
2        15
3        99
4        12

## ▶ Preencher Nulos

### Preencher nulos com valores arbitrários.

In [100]:
tabela2.fillna(0)

   Coluna A  Coluna B  Coluna C  Coluna D
0       1.0      10.0       0.0        22
1       3.0       0.0       0.0       178
2       4.0      15.0      15.0        15
3       0.0       0.0       0.0        99
4       8.0      12.0      12.0        12

In [101]:
tabela2.fillna("Sem Valor") #apenas testando se o método aceita string e OK.

    Coluna A   Coluna B   Coluna C  Coluna D
0        1.0       10.0  Sem Valor        22
1        3.0  Sem Valor  Sem Valor       178
2        4.0       15.0       15.0        15
3  Sem Valor  Sem Valor  Sem Valor        99
4        8.0       12.0       12.0        12

In [102]:
tabela2.fillna(tabela.mean()) # existe a possibilidade de preencher a média do total da tabela, mas não faz mt sentido né.

   Coluna A   Coluna B  Coluna C  Coluna D
0       1.0  10.000000      13.5        22
1       3.0  12.333333      13.5       178
2       4.0  15.000000      15.0        15
3       4.0  12.333333      13.5        99
4       8.0  12.000000      12.0        12

In [103]:
tabela2['Coluna A'] = tabela2['Coluna A'].fillna(tabela2['Coluna A'].mean()) # agora sim, pesquisando no stack over flow, faz mais sentido preencher os valores nulos da coluna A com a média da Coluna A

In [104]:
tabela2

   Coluna A  Coluna B  Coluna C  Coluna D
0       1.0      10.0       NaN        22
1       3.0       NaN       NaN       178
2       4.0      15.0      15.0        15
3       4.0       NaN       NaN        99
4       8.0      12.0      12.0        12

In [105]:
display(tabela2)

   Coluna A  Coluna B  Coluna C  Coluna D
0       1.0      10.0       NaN        22
1       3.0       NaN       NaN       178
2       4.0      15.0      15.0        15
3       4.0       NaN       NaN        99
4       8.0      12.0      12.0        12

### Preencher Nulos com  Contiguos Values (aproximados)

In [106]:
tabela2.fillna(method='ffill') # usando o parametro method é possível preencher com o valor anterior e seguir com valores subsequentes em ordem ascendente

   Coluna A  Coluna B  Coluna C  Coluna D
0       1.0      10.0       NaN        22
1       3.0      10.0       NaN       178
2       4.0      15.0      15.0        15
3       4.0      15.0      15.0        99
4       8.0      12.0      12.0        12

In [107]:
tabela2.fillna(method = 'bfill') # ou em ordem descendente

   Coluna A  Coluna B  Coluna C  Coluna D
0       1.0      10.0      15.0        22
1       3.0      15.0      15.0       178
2       4.0      15.0      15.0        15
3       4.0      12.0      12.0        99
4       8.0      12.0      12.0        12

In [108]:
tabela2.isnull()

   Coluna A  Coluna B  Coluna C  Coluna D
0     False     False      True     False
1     False      True      True     False
2     False     False     False     False
3     False      True      True     False
4     False     False     False     False

In [109]:
pd.Series([False,False,True,False]).any() # criei uma série apenas de valores boleanos para aplicar a função any e retornar apenas o valor true.

True

In [110]:
tabela2.loc[2].all()

True

## ▶ Identificar Valores únicos para Substituir
Pense no =countunique no Google Sheets + CTRL L | Localizar + Substituir

In [111]:
dataf = pd.DataFrame({ 'Gender':['F','M','D','?'], #criando um dataframe a partir de um dicionário
         'Idade':[28,32,44,100]
         
    

})
dataf

  Gender  Idade
0      F     28
1      M     32
2      D     44
3      ?    100

In [112]:
dataf['Gender'].unique() #selecionar valores unicos da coluna Gender from tabela dataf

array(['F', 'M', 'D', '?'], dtype=object)

In [113]:
dataf['Gender'].value_counts() # contar valores para cada categoria.

F    1
M    1
D    1
?    1
Name: Gender, dtype: int64

In [114]:
dataf['Idade'].value_counts()

28     1
32     1
44     1
100    1
Name: Idade, dtype: int64

In [115]:
dataf['Gender'].replace(['D','?'],'F',inplace =True)

In [116]:
dataf['Gender'].value_counts()

F    3
M    1
Name: Gender, dtype: int64

In [117]:
## Identificar valores inválidos como idade e sabemos que não existe naquele contexto

dataf.loc[dataf['Idade']> 99,'Idade']

3    100
Name: Idade, dtype: int64

In [118]:
dataf.loc[dataf['Idade']> 99,'Idade'] = dataf.loc[dataf['Idade']> 99,'Idade'] /100
#substitui o valor maior que 99 e dividi por 100, porém o correto é dividir por um valor q faça sentido ou aplicar alguma média de idade

In [119]:
dataf

  Gender  Idade
0      F   28.0
1      M   32.0
2      F   44.0
3      F    1.0

## ▶ Duplicates
Checar valores duplicados.

In [123]:
ambassadors = pd.Series(['France','United Kingdon','United Kingdon','Italy','Germany','Germany','Germany'],
                        index = ['Gerald','Carlos','Marcos','Lisa','Carla','Francini','Julio'])

In [125]:
ambassadors

Gerald              France
Carlos      United Kingdon
Marcos      United Kingdon
Lisa                 Italy
Carla              Germany
Francini           Germany
Julio              Germany
dtype: object

In [132]:
ambassadors.duplicated() # Testa se o valor foi repedito anteriormente(de cima para baixo)

Gerald      False
Carlos      False
Marcos       True
Lisa        False
Carla       False
Francini     True
Julio        True
dtype: bool

In [133]:
ambassadors.duplicated(keep='last') # testa se o valor foi repetido debaixo para cima (o último valor)

Gerald      False
Carlos       True
Marcos      False
Lisa        False
Carla        True
Francini     True
Julio       False
dtype: bool

In [134]:
ambassadors.duplicated(keep=False) # retorna true para todos os valores duplicados

Gerald      False
Carlos       True
Marcos       True
Lisa        False
Carla        True
Francini     True
Julio        True
dtype: bool

In [136]:
ambassadors.drop_duplicates() # "excluo" os valores duplicados seguindo o default (primeiro valor de cima pra baixo que encontrar como repetido)

Gerald            France
Carlos    United Kingdon
Lisa               Italy
Carla            Germany
dtype: object

In [137]:
ambassadors.drop_duplicates(keep='last') # segue o mesmo padrão do keep last

Gerald            France
Marcos    United Kingdon
Lisa               Italy
Julio            Germany
dtype: object

In [138]:
ambassadors.drop_duplicates(keep=False) # deleto todos os valores que se repetiram

Gerald    France
Lisa       Italy
dtype: object

### Duplicates in DataFrame

In [139]:
players = pd.DataFrame({
    'Name': [
        'Kobe Bryant',
        'LeBron James',
        'Kobe Bryant',
        'Carmelo Anthony',
        'Kobe Bryant',
    ],
    'Pos': [
        'SG',
        'SF',
        'SG',
        'SF',
        'SF'
    ]
})

In [140]:
players

              Name Pos
0      Kobe Bryant  SG
1     LeBron James  SF
2      Kobe Bryant  SG
3  Carmelo Anthony  SF
4      Kobe Bryant  SF

In [141]:
players.duplicated() # no DataFrame podemos ver que só sinaliza se é duplicado apenas se todas as colunas forem duplicadas (por padrão)

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [142]:
#podemos customizar através do parametro subset
players.duplicated(subset=['Name'])

0    False
1    False
2     True
3    False
4     True
dtype: bool