<a href="https://colab.research.google.com/github/FranciniSantana/Data-Analysis-With-Python-FreeCodeCamp/blob/main/2_Pandas__Data_Analysis_With_Python_freeCodeCamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# ✅ Pandas Series

In [ ]:
# in milions
g7_pop = pd.Series([35.467,63.951,80.940,60.665,127.061,64.511,318.523]) #função que cria uma série a partir de uma [lista]

In [ ]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [ ]:
g7_pop.name = 'G7 Popuation in Milion' #Atribuo um nome a tabela 
#Esse método faz parte do Python puro ou do Pandas? uma vez que não uso o pd p/ chamar a função.

In [ ]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Popuation in Milion, dtype: float64

In [ ]:
g7_pop.dtype #verificar o tipo de dado dessa série usando o método numpy dtype

dtype('float64')

In [ ]:
type(g7_pop) # verificar o tipo de dados dessa série usando o python puro. Funciona? Identificou no caso o tipo de /objeto

pandas.core.series.Series

In [ ]:
g7_pop[3] #acessar elementos em uma série com indíce igual uma lista

60.665

In [ ]:
# para atribuir um índice a série usamos o método index
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdon,',
    'United States'
]

In [ ]:
g7_pop

Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdon,     64.511
United States      318.523
Name: G7 Popuation in Milion, dtype: float64

Podemos criar uma série a partir de um dicionário, onde já atribuímos uma chave ao valor.

In [ ]:
g7Pop_dic = pd.Series({
   'Canada':35.467, 
    'France':63.951,
    'Germany':80.940,
    'Italy':60.665,
    'Japan':127.061,
    'United Kingdon':64.511,
    'United States':318.523, 
}
    
)

#diferente de criar uma série por uma lista sem o index nomeado como lá em cima, aqui usamos o {dicionário}

In [ ]:
g7Pop_dic[3:4] # acesso o nome da chave e o valor atribuído a ela através do index

Italy    60.665
dtype: float64

In [ ]:
g7Pop_dic[4] # acesso apenas o valor atribuído aquela posição do índice

127.061

#✅Indexing
Index funciona de forma similar com listas e dicionários, podemos usar o rótulo do índice criado para  procurar os elementos

In [ ]:

print(g7_pop[['Canada','France']]) # É mais fácil saber o que procurar como um nome, do que saber um número
print(g7_pop[[0,1]])
print(g7_pop.iloc[[0,1]]) #método iloc qual a diferença de acessar o indice pela posição com método iloc? Será mais rápido e eficiente?

Canada    35.467
France    63.951
Name: G7 Popuation in Milion, dtype: float64
Canada    35.467
France    63.951
Name: G7 Popuation in Milion, dtype: float64
Canada    35.467
France    63.951
Name: G7 Popuation in Milion, dtype: float64

In [ ]:
paises = ['Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdon,',
    'United States']

In [ ]:
 g7_pop['Canada':'United States'] #em pandas o limitador é o próprio número limitador.

Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdon,     64.511
United States      318.523
Name: G7 Popuation in Milion, dtype: float64

In [ ]:
paises[:6] # em Python puro o limitador é uma posição anterior.

['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdon,']

In [ ]:
g7_pop[:6] #em pandas o limitador é o próprio número limitador.

Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdon,     64.511
Name: G7 Popuation in Milion, dtype: float64

#✅ Condtional selection (boolean arrays)
A mesma técnica de boolean array aplicado no numpy podemos usar em pandas

In [ ]:
g7_pop > 70.000

Canada             False
France             False
Germany             True
Italy              False
Japan               True
United Kingdon,    False
United States       True
Name: G7 Popuation in Milion, dtype: bool

In [ ]:
g7_pop[g7_pop > 70.000] # me retorne g7_pop sendo a condição entre []

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Popuation in Milion, dtype: float64

In [ ]:
g7_pop.mean() # qual a  média da população do G7?

107.30257142857144

In [ ]:
g7_pop[g7_pop > g7_pop.mean()] #Existe algum país que tem o número maior que a média?
# Série de países > Valor total da média da série os países

Japan            127.061
United States    318.523
Name: G7 Popuation in Milion, dtype: float64

In [ ]:
g7_pop[(g7_pop > 80) | (g7_pop < 40)] # nesse caso o uso do parênteses é para forçar que uma expressão seja avaliada em uma determinada ordem desejada.

Canada            35.467
Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Popuation in Milion, dtype: float64

# ✅ Pandas DataFrames

In [ ]:
#import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [ ]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [ ]:
df.index = [ #atribuindo uma label para o index
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

### Entendendo os dados a partir de métodos e funções.

In [ ]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [ ]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [ ]:
df.size

35

In [ ]:
df.shape

(7, 5)

In [ ]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [ ]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [ ]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

### Indexing, Selection and Slicing

Colunas podem ser selecionadas com um index.

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [ ]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [ ]:
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [ ]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [ ]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [ ]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [ ]:
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [ ]:
df.loc['France': 'Italy']

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [ ]:
df.loc['France': 'Italy', 'Population']

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [ ]:
df.loc['France': 'Italy', ['Population', 'GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

In [ ]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [ ]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [ ]:
df.iloc[[0, 1, -1]]

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9984670  0.913   America
France             63.951   2833687        640679  0.888    Europe
United States     318.523  17348075       9525067  0.915   America

In [ ]:
df.iloc[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [ ]:
df.iloc[1:3, 3]

France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [ ]:
df.iloc[1:3, 1:3]

             GDP  Surface Area
France   2833687        640679
Germany  3874437        357114

# ✅ Conditional Selection and Modifying DataFrames

In [ ]:
df['Population'] > 70 # Testa os valores da coluna e retorna V ou F. É como se fosse um filtro WHERE

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [ ]:
df.loc[df['Population'] > 70] #Dentro do teste realizado acima, eu peço para selecionar a partir daquela coluna apenas os valores [SELECT * WHERE População > 70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [ ]:
df.loc[df['Population'] > 70, 'Population']

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [ ]:
df.loc[df['Population'] > 70, ['Population','GDP']] # usando o parametro COLUMNS para trazer os dados de colunas específicas

               Population       GDP
Germany            80.940   3874437
Japan             127.061   4602367
United States     318.523  17348075

# ✅ Dropping Stuff
Em vez de selecionar , oculto/deleto a série.

In [ ]:
df.drop('Canada') # o drop padrão deleta a linha com base no index.

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.drop(columns='Population') #pesquisando os parametros vi que dessa forma conseguimos excluir com base no nome da coluna

                     GDP  Surface Area    HDI Continent
Canada           1785387       9984670  0.913   America
France           2833687        640679  0.888    Europe
Germany          3874437        357114  0.916    Europe
Italy            2167744        301336  0.873    Europe
Japan            4602367        377930  0.891      Asia
United Kingdom   2950039        242495  0.907    Europe
United States   17348075       9525067  0.915   America

# ✅ Operations

In [ ]:
# SELECT GDP, HDI from DF  
df[['GDP','HDI']]

                     GDP    HDI
Canada           1785387  0.913
France           2833687  0.888
Germany          3874437  0.916
Italy            2167744  0.873
Japan            4602367  0.891
United Kingdom   2950039  0.907
United States   17348075  0.915

In [ ]:
df[['Population','GDP']] / 100

                Population        GDP
Canada             0.35467   17853.87
France             0.63951   28336.87
Germany            0.80940   38744.37
Italy              0.60665   21677.44
Japan              1.27061   46023.67
United Kingdom     0.64511   29500.39
United States      3.18523  173480.75

In [ ]:
df2 = df

In [ ]:
share = pd.Series(df2['Population'] / 100,
                  name='SharePopulation'
                  )
df2['share'] = share
df2

                Population       GDP  Surface Area    HDI Continent    share
Canada              35.467   1785387       9984670  0.913   America  0.35467
France              63.951   2833687        640679  0.888    Europe  0.63951
Germany             80.940   3874437        357114  0.916    Europe  0.80940
Italy               60.665   2167744        301336  0.873    Europe  0.60665
Japan              127.061   4602367        377930  0.891      Asia  1.27061
United Kingdom      64.511   2950039        242495  0.907    Europe  0.64511
United States      318.523  17348075       9525067  0.915   America  3.18523

Operações com séries funciona a nível de coluna

In [ ]:
crisis = pd.Series([-1_000_000,-0.3], index= ['GDP','HDI']) # usa-se (função) [lista]

In [ ]:
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [ ]:
df[['GDP','HDI']] + crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United States   16348075.0  0.615

# ✅ Adding a new Column

In [ ]:
#criando a lista de valores que serão usados 2) atribuindo ao indice 3)dando o nome da coluna | Criando uma série
langs = pd.Series(['French','Italian','Germany'],
                  index=['France','Italy','German'],
                  name = 'language'
                  
                  )

In [ ]:
langs

France     French
Italy     Italian
German    Germany
Name: language, dtype: object

In [ ]:
df['language'] = langs # SELECT language e atribua os valores de langs nela E INCLUA na tabela DF

In [ ]:
df

,Population,GDP,Surface Area,HDI,Continent,share,language
Canada,35.467,1785387,9984670,0.913,America,0.35467,NaN
France,63.951,2833687,640679,0.888,Europe,0.63951,French
Germany,80.940,3874437,357114,0.916,Europe,0.80940,NaN
Italy,60.665,2167744,301336,0.873,Europe,0.60665,Italian
Japan,127.061,4602367,377930,0.891,Asia,1.27061,NaN
United Kingdom,64.511,2950039,242495,0.907,Europe,0.64511,NaN
United States,318.523,17348075,9525067,0.915,America,3.18523,NaN

 ## Replacing Values per column

In [ ]:
df['language'] = 'English' # substituir os valores da coluna language por english

In [ ]:
df

,Population,GDP,Surface Area,HDI,Continent,share,language
Canada,35.467,1785387,9984670,0.913,America,0.35467,English
France,63.951,2833687,640679,0.888,Europe,0.63951,English
Germany,80.940,3874437,357114,0.916,Europe,0.80940,English
Italy,60.665,2167744,301336,0.873,Europe,0.60665,English
Japan,127.061,4602367,377930,0.891,Asia,1.27061,English
United Kingdom,64.511,2950039,242495,0.907,Europe,0.64511,English
United States,318.523,17348075,9525067,0.915,America,3.18523,English

## Renaming Column

In [ ]:
df.rename(
          columns={
          'HDI' : 'Human Development Index',
         'Anual Popcorn Consuption': 'APC',
          },
          index= {
              'United States': 'USA',
              'United Kingdom	':'UK'
        
    
          })

,Population,GDP,Surface Area,Human Development Index,Continent,share,language
Canada,35.467,1785387,9984670,0.913,America,0.35467,English
France,63.951,2833687,640679,0.888,Europe,0.63951,English
Germany,80.940,3874437,357114,0.916,Europe,0.80940,English
Italy,60.665,2167744,301336,0.873,Europe,0.60665,English
Japan,127.061,4602367,377930,0.891,Asia,1.27061,English
United Kingdom,64.511,2950039,242495,0.907,Europe,0.64511,English
USA,318.523,17348075,9525067,0.915,America,3.18523,English

## Creating columns from other columns

In [ ]:
df['GDP per Capita'] = df['GDP'] / df['Population'] # SELECT GDP / POPULATION AS 'GDP per Capita' from DF

In [ ]:
df

,Population,GDP,Surface Area,HDI,Continent,share,language,GDP per Capita
Canada,35.467,1785387,9984670,0.913,America,0.35467,English,50339.385908
France,63.951,2833687,640679,0.888,Europe,0.63951,English,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,0.80940,English,47868.013343
Italy,60.665,2167744,301336,0.873,Europe,0.60665,English,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,1.27061,English,36221.712406
United Kingdom,64.511,2950039,242495,0.907,Europe,0.64511,English,45729.239975
United States,318.523,17348075,9525067,0.915,America,3.18523,English,54464.120330

# ✅ Statiscal Methods
Métodos de estatística descritiva para DataFrames

In [ ]:
df.head(10)

,Population,GDP,Surface Area,HDI,Continent,share,language,GDP per Capita
Canada,35.467,1785387,9984670,0.913,America,0.35467,English,50339.385908
France,63.951,2833687,640679,0.888,Europe,0.63951,English,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,0.80940,English,47868.013343
Italy,60.665,2167744,301336,0.873,Europe,0.60665,English,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,1.27061,English,36221.712406
United Kingdom,64.511,2950039,242495,0.907,Europe,0.64511,English,45729.239975
United States,318.523,17348075,9525067,0.915,America,3.18523,English,54464.120330

In [ ]:
df.describe()

,Population,GDP,Surface Area,HDI,share,GDP per Capita
count,7.000000,7.000000e+00,7.000000e+00,7.000000,7.000000,7.000000
mean,107.302571,5.080248e+06,3.061327e+06,0.900429,1.073026,44952.254576
std,97.249970,5.494020e+06,4.576187e+06,0.016592,0.972500,6954.983875
min,35.467000,1.785387e+06,2.424950e+05,0.873000,0.354670,35733.025633
25%,62.308000,2.500716e+06,3.292250e+05,0.889500,0.623080,40265.998421
50%,64.511000,2.950039e+06,3.779300e+05,0.907000,0.645110,45729.239975
75%,104.000500,4.238402e+06,5.082873e+06,0.914000,1.040005,49103.699626
max,318.523000,1.734808e+07,9.984670e+06,0.916000,3.185230,54464.120330

In [ ]:
population = df['Population']

In [ ]:
population.min(), population.max()

(35.467, 318.523)

In [ ]:
population.sum() / len(population)

107.30257142857144

In [ ]:
population.mean()

107.30257142857144

In [ ]:
population.std()

97.24996987121581

In [ ]:
population.median()

64.511

In [ ]:
population.describe()

count      7.000000
mean     107.302571
std       97.249970
min       35.467000
25%       62.308000
50%       64.511000
75%      104.000500
max      318.523000
Name: Population, dtype: float64

In [ ]:
population.quantile()

64.511