<a href="https://colab.research.google.com/github/FranciniSantana/Data-Analysis-With-Python-FreeCodeCamp/blob/main/Projeto_%7C_US_Stores_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üëú Projeto | US Stores Sales

# 1. Contexto
Venho estudado Python por ser uma linguagem de programa√ß√£o muito utilizada por analistas e cientistas de dados al√©m de ser considerada uma linguagem f√°cil para come√ßar.

# 2. Objetivo
O objetivo desse projeto √© aplicar os conhecimentos de Python associado ao processo de `An√°lise de Dados`. 

As principais fontes de estudo tem sido atrav√©s:

- **Curso** [Python for Data Analysis - FreeCodeCamp ](https://www.freecodecamp.org/learn/data-analysis-with-python/)

- **Livro** [Hands-On Data Analysis with Pandas](https://www.amazon.com/Hands-Data-Analysis-Pandas-visualization/dp/1789615321)

- **Livro** [Pense Python](https://www.amazon.com/Pense-Python-cientista-computa%C3%A7%C3%A3o-Portuguese-ebook/dp/B07QL2LKBG/ref=sr_1_1?crid=29ABXBYXFN4N2&keywords=pense+python&qid=1669032627&s=books&sprefix=pense+python%2Cstripbooks-intl-ship%2C261&sr=1-1)

- **Artigos Complementares**
- Documenta√ß√£o [Pandas](https://pandas.pydata.org/docs/) e [Matplotlib](https://matplotlib.org/stable/api/index.html)

# 3. Prepara√ß√£o do ambiente
Em Python para An√°lise de Dados iremos trabalhar com diferentes bibliotecas para trabalhar com objetos espec√≠ficos como tabelas e gr√°ficos, portanto precisamos import√°-las inicialmente para garantir que quando chamarmos as fun√ß√µes e m√©todos, n√£o teremos nenhum problema.

In [1]:
import numpy as np # porque √© sempre bom importar caso necessite de alguma fun√ß√£o
import pandas as pd # para analisar dados de tabelas
import matplotlib.pyplot as plt # para criar/plotar gr√°ficos

# 4. Data collection

A coleta de dados √© o primeiro passo para uma an√°lise de dados. Afinal n√£o d√° para analisar dados se n√£o temos dados. 

> Para iniciar este projeto escolhi a base `US Stores Sales` no [Kaggle](https://www.kaggle.com/datasets/dsfelix/us-stores-sales).

> A escolha desse tipo de base ocorreu pois atuo com empresas de varejo online (e-commerces) e mais se assemelha com o tipo de dado que trabalho.

Passo 01: Trazer a base de dados para o ambiente de trabalho em Python.

In [2]:
# Por trabalhar com Google Colaboratory, um ambiente na nuvem, vamos usar o google drive para armazenar o arquivo e termos um path tbm na nuvem.

from google.colab import drive #importando da biblioteca do google colab a fun√ß√£o drive para conseguir ler a tabela que eu subi no meu drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Bases/sales.csv') #usando uma fun√ß√£o do pandas consigo ler esse arquivo de exemplo que subi no meu drive

In [4]:
df

,Area Code,State,Market,Market Size,Profit,Margin,Sales,COGS,Total Expenses,Marketing,Inventory,Budget Profit,Budget COGS,Budget Margin,Budget Sales,ProductId,Date,Product Type,Product,Type
0,203,Connecticut,East,Small Market,107.0,176.0,292.0,116.0,69.0,38.0,962.0,110.0,110.0,160.0,270.0,2,04/01/10 00:00:00,Coffee,Columbian,Regular
1,203,Connecticut,East,Small Market,75.0,135.0,225.0,90.0,60.0,29.0,1148.0,90.0,80.0,130.0,210.0,2,07/01/10 00:00:00,Coffee,Columbian,Regular
2,203,Connecticut,East,Small Market,122.0,195.0,325.0,130.0,73.0,42.0,1134.0,130.0,110.0,180.0,290.0,2,11/01/10 00:00:00,Coffee,Columbian,Regular
3,203,Connecticut,East,Small Market,105.0,174.0,289.0,115.0,69.0,37.0,1166.0,110.0,100.0,160.0,260.0,2,12/01/10 00:00:00,Coffee,Columbian,Regular
4,203,Connecticut,East,Small Market,104.0,135.0,223.0,90.0,56.0,29.0,1148.0,90.0,80.0,130.0,210.0,2,07/01/11 00:00:00,Coffee,Columbian,Regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4243,985,Louisiana,South,Small Market,-6.0,66.0,113.0,47.0,72.0,42.0,-395.0,0.0,40.0,50.0,90.0,4,07/01/10 00:00:00,Espresso,Caffe Latte,Regular
4244,985,Louisiana,South,Small Market,-7.0,61.0,105.0,44.0,68.0,39.0,-508.0,10.0,30.0,60.0,90.0,4,08/01/10 00:00:00,Espresso,Caffe Latte,Regular
4245,985,Louisiana,South,Small Market,-3.0,76.0,131.0,55.0,79.0,49.0,-1053.0,0.0,40.0,60.0,100.0,4,12/01/10 00:00:00,Espresso,Caffe Latte,Regular
4246,985,Louisiana,South,Small Market,1.0,87.0,160.0,63.0,86.0,57.0,37.0,0.0,50.0,70.0,120.0,4,04/01/11 00:00:00,Espresso,Caffe Latte,Regular
4247,985,Louisiana,South,Small Market,4.0,90.0,153.0,64.0,81.0,58.0,-113.0,10.0,50.0,80.0,130.0,4,05/01/11 00:00:00,Espresso,Caffe Latte,Regular

# Data wrangling

`Data wrangling` is the process of preparing the data and getting it into a format that can be used for analysis. The unfortunate reality of data is that it is often dirty,meaning that it requires **cleaning** (preparation) before it can be used. The following are some issues we may encounter with our data:




- **Human errors**: Data is recorded (or even collected) incorrectly, such as
putting 100 instead of 1000, or typos. In addition, there may be multiple
versions of the same entry recorded, such as New York City, NYC, and
nyc

- **Computer error:** Perhaps we weren't recording entries for a while (missing
data)

- **Unexpected values:** Maybe whoever was recording the data decided to use
? for a missing value in a numeric column, so now all the entries in the
column will be treated as text instead of numeric values

- **Incomplete information:** Think of a survey with optional questions; not
everyone will answer them, so we have missing data, but not due to
computer or human error

- **Resolution:** The data may have been collected per second, while we need
hourly data for our analysis

- **Relevance of the fields:** Often, data is collected or generated as a produc
of some process rather than explicitly for our analysis. In order to get it to a
usable state, we will have to clean it up

- **Format of the data:** The data may be recorded in a format that isn't
conducive to analysis, which will require that we reshape it

- **Misconfigurations in data-recording process:** Data coming from sources
such as misconfigured trackers and/or webhooks may be missing fields or
passing them in the wrong orde



> *Trecho retirado do livro: Data Analysis With Pandas 2019*

# Exploratory data analysis

# Conclus√£o